.red {
  position: fixed;
  top: 100px;
  z-index: 105;
  right: 0px;
}

#facebook a {
  background: #3b5898bd;
  padding: 10px 15px;
  color: #fff;
  text-decoration: none;
  width: 40px;
  transition: all 0.4s ease;
}
#facebook a:hover {
  background: #000;
  padding: 10px 30px;
}
#youtube a {
  background: #bb0000ad;
  padding: 10px 15px;
  color: #fff;
  text-decoration: none;
  width: 40px;
  transition: all 0.4s ease;
}
#youtube a:hover {
  background: #000;
  padding: 10px 30px;
}
#twitter a {
  background: #55aceec0;
  padding: 10px 15px;
  color: #fff;
  text-decoration: none;
  width: 40px;
  transition: all 0.4s ease;
}
#twitter a:hover {
  background: #000;
  padding: 10px 30px;
}
#correo a {
  background: #e95a50b7;
  padding: 10px 15px;
  color: #fff;
  text-decoration: none;
  width: 40px;
  transition: all 0.4s ease;
}
#correo a:hover {
  background: #000;
  padding: 10px 30px;
}
